* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
}

.cityName {
    text-align: center;
}

.data {
    width: 50%;
}

.container {
    /*height: 100%;*/
    margin: 1em;
}

.data-container {
    display: flex;
}

.temps {
    display: flex;
    margin: 1em;
    gap: 1em;
}

.outer-days {
    border: 1px solid black;
}

.day-title {
    grid-row: 1;
    font-weight: bold;
    text-align: center;
}

.weather-img {
    grid-row: 2;
    height: 3.5em;
}

.img-element {
    height: 20em;
}

.curr-img {
    height: 15em;
}

.curr-data {
    justify-content: left;
}

.img {
    grid-row: 3;
}

.inputDays {
    grid-row: 4;
}

.precip {
    grid-row: 5;
}

.current-temperature {
    font-size: 3.5em;
    text-align: center;
}

.data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
}

.moreInfo {
    background-color: rgb(118, 176, 223);
    width: 50%;
    display: none;
}

.current {
    width: 100%; 
    color: white;
    display: flex;
    gap: 1em;
    justify-content: center;
}

.current h3, .current-description {
    text-align: center;
}

.info {
    display: flex;
    justify-content: space-around;
}

.degrees {
    justify-content: end;
    display: none;
}

.f {
    border-radius: 0;
    border: 1px solid black;
    color: white;
    background-color: black;
}

.c {
    border-radius: 0;
    border: none;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.f, .c {
    font-size: 1em;
}

button {
    cursor: pointer;
}